<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>237442285943-6bk4m009lr7hbu1mlk7cp8d31rvic3kn.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.237442285943-6bk4m009lr7hbu1mlk7cp8d31rvic3kn</string>
	<key>API_KEY</key>
	<string>AIzaSyCfnzVgivQWph1A4BHK-70YX1fO1Xvp35U</string>
	<key>GCM_SENDER_ID</key>
	<string>237442285943</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.flutterflow.trabalhofinal</string>
	<key>PROJECT_ID</key>
	<string>trabalhofinaldpm</string>
	<key>STORAGE_BUCKET</key>
	<string>trabalhofinaldpm.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:237442285943:ios:40b188651fd54f4a036172</string>
</dict>
</plist>